<div class="container-fluid  " id="texto">
    <div class="row">
    <div class="col-sm-4 pt-3 m-5 ">
        
           
                <h2 >¿Cómo puedo realizar un apartado?</h2>
                <p>Por el momento no tenemos forma de. </p>
                <h2>Pregunta 2</h2>
                <p>Hola, mi pregunta es porque valen verga?</p>
                <h2>Pregunta 3</h2>            
                <p>Ya se chingó.</p>

                     
    </div>
    <div class="col-sm-4" >
        <div class="mt-5">
            <img src="../../../assets/recepcion.jpg" class="img-fluid rounded img-thumbnail" alt="">
        </div>
    </div>
    <div class="col-sm-2 " >
        <div class="card " style="width: 18rem; background: rgb(196, 195, 195); ">
            <img src="../../../assets/equipo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ingenieros en conjunto</h5>
              <p class="card-text">Somos un equipo orientado a a trabajar e ir aprendiendo segun sean las exigencias</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Hilda Anette Ávila Silva.</li>
              <li class="list-group-item">Juan Carlos Álvarez Martinez.</li>
              <li class="list-group-item">José de Jesús Padilla Guzman.</li>
              <li class="list-group-item">Miguel González Salas.</li>
            </ul>
            <div class="card-body">
              <a href="www.facebook.com" class="card-link mr-5 ml-5"><button mat-raised-button color="primary" class="m-3">Facebook</button></a>
              <a href="www.youtube.com" class="card-link ml-5" ><button mat-raised-button color="primary" class="m-3">youtube</button>
              </a>
            </div>
          </div>
        
        
    </div>
    </div>
</div>
