<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card-columns" id="texto">
              <div class="card p-2" style=" background:rgb(196, 195, 195); ">
                <img src="../../assets/cancun.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hotel Cancún.</h5>
                  <p class="card-text">Te esperamos en las mejores playas de todo el mundo. Con exquisitos manjares que te acompañarán
                    día y noche. ¡Ven a Cancun!
                  </p>
                </div>
              </div>
              <div class="card p-1" style=" background:rgb(196, 195, 195); ">
                <img src="../../assets/mazamitla.jpg" class="card-img-top" alt="...">
                <div class="card-body" >
                  <h5 class="card-title">Cabañas Mazamitla.</h5>
                  <p class="card-text">Somos tu mejor opcion para pasar las mejores vacaciones de tu vida. Te esperamos en Hotel Mazamitla.
                  </p>
                </div>
              </div>
                <div class="card">
                  <img src="../../assets/jalisco.jpg" class="card-img-top" alt="...">
                  <div class="card-body" >
                    <h5 class="card-title">Hotel Ryu Jalisco.</h5>
                    <p class="card-text">Somos el lugar mejor calificado de toda la zona. Si quieres conocer Nuevo Vallarta, aqui te daremos la
                      bienvenida que te mereces, asi como el descanso que necesitas.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/taninul.jpg" class="card-img-top" alt="...">
                  <div class="card-body" >
                    <h5 class="card-title">Hotel SPA Taninul.</h5>
                    <p class="card-text">¡El mejor hotel Spa de toda la región! Con todo y visitas guiadas a través de la huasteca
                      Potosina, este se hace un lugar de en sueño. Ven a visitarnos.
                    </p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/canto.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Hotel Canto Vallarta.</h5>
                    <p class="card-text">El mejor hotel calificado de la zona. Así es como conocen nuestro hotel y aquí te mostraremos que
                      estan en lo correcto. Te esperamos.
                    </p>
                    
                  </div>
                </div>
              </div>
        </div>
        <ng-container *ngIf="user$ | async as user; else login">
          <div class="col-sm-3" style="background: rgb(159, 165, 219);">
            <div class="row m-5">  
            <h2> ¡Bienvenido! </h2>
                <h3>ahora que te registraste puedes checar</h3>
              </div>
                <div class="row m-5">
                <button type="button" class="btn btn-primary m-2" (click)="funciones()">Nuestros hoteles</button>
              </div>
              <table class="table"> 
                <div *ngIf="permissionhotel==true">
                  <tr>
                    <th>Hotel</th>
                    <th>Ubicación</th>
                    <th>Estrellas</th>
                  </tr>
                  <tr *ngFor="let hotel of hotelsList">
                    <td scope="row">{{hotel.name}} </td>
                    <td scope="row">{{hotel.location}}</td>
                    <td scope="row">{{hotel.stars}}</td>
    
                  </tr>
                </div>
              </table>
              
              
              <div class="row m-5">
                <button type="button" class="btn btn-primary " (click)="funciones2()">Promociones</button>
              </div>

              <table class="table">
                <div *ngIf="permissionpromotion==true">
                  <tr>
                    <th>Promoción</th>
                    <th>Descripción</th>
                  </tr>
                  <tr *ngFor="let promotion of promotionsList">
                    <td>{{promotion.type}}</td>
                    <td>{{promotion.description}}</td>
    
                  </tr>
                </div>
              </table>
              
              
              <!--<div class="row">
                <ng-container *ngIf="resultado_consulta">
                   <h6 class="m-5">
                     {{resultado_consulta}}
                   </h6>
                </ng-container>
              </div>-->
          </div>
      </ng-container>
      <ng-template #login>
      </ng-template>

    </div>
</div>

